@import 'variables';

* {
    margin: 0px;
    padding: 0px;    
}

body {
    background-color: $color1;
}

.btn2 {
    background-color: $color2;
}

.btn2:hover {
    background-color: $color4;
}

.listtext {
    span {
        font-size: larger;
    }
}

.taskbox {
    background-color: $color3;
}
